<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    {% block title %}{% endblock %}
</head>
<body>
    <div>
        <nav>
            <a href='/'>Main</a>
            {% if not logged_in %}
                <a class="link" href="/login">Sign In</a>
            {% else %}
                <a>Hi, {{ first_name }}</a>
                <a href="/logout">Sign Out</a>
            {% endif %}
            <a href="/add">Add product</a>
        </nav>
    </div>
    {% block body %}{% endblock %}
</body>
</html>